.scroll__down {
    position: absolute;
    bottom: 2.5rem;
    left: 0;
    width: 100%;
}

.arrow__wrapper {
    text-align: center;
}

.arrows {
    display: inline-block;
    margin-top: .75rem;
    animation: bobUpDown 1s ease-in-out infinite;
}

.arrow {
    display: block;
    width: 0;
    height: 0;
    border-left: 0.625rem solid transparent;
    border-right: 0.625rem solid transparent;
    border-top: 0.875rem solid var(--subtitle-color); /* This makes the arrow point downwards */
    margin: 0.2rem auto;
    background-color: transparent; /* Ensure the arrow is hollow */
    transition: border-top-color 0.3s ease; /* Smooth transition for color change */
}

.arrow:hover {
    border-top-color: var(--first-color); /* Changes color to orange on hover */
}

@keyframes bobUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0.25rem);
    }
}
