.about.section {
    padding-bottom: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjusts the height to fill the viewport */
}

.about__title-container {
    margin-top: 0em;
}

.about__container {
    grid-template-columns: 1fr 9fr;
    justify-content: center;
    z-index: 1;
    padding-left: 7rem;
    padding-right: 9rem;
}

.about__img {
    justify-self: left;
}

.about__data {
    padding: 1.875rem;
    background-color: #efefef;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1.875rem;
    align-items: flex-start;
    position: relative;
}

.about__data::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px soldi transparent;
    border-right: 15px solid #efefef;
    position: absolute;
    left: -0.93rem;
    top: 20%;
}

.about__description {
    margin-bottom: 1rem;
}

.services__title-container {
    padding-top: 7rem;
    padding-bottom: 2rem;
}

.services__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.875rem;
}

.services__card {
    text-align: center;
    padding: 1.875rem;
    border-radius: var(--border-radius);
    background-color: var(--container-color);
    transition: all 0.3s ease-in-out;
}

.services__card:hover {
    transform: translateY(-10px);
}

.services__card:nth-child(1) {
    background-color: rgb(108, 108, 229);
    box-shadow: 0px 5px 20px 0px rgb(108, 108, 229 / 50%);
}

.services__card:nth-child(2) {
    background-color: rgb(249, 215, 76);
    box-shadow: 0px 5px 20px 0px rgb(249, 215, 76 / 50%);
}

.services__card:nth-child(3) {
    background-color: rgb(249, 123, 139);
    box-shadow: 0px 5px 20px 0px rgb(249, 123, 139 / 50%);
}

.services__img {
    margin-bottom: 1rem;  
    width: 2.5rem;
}

.services__title {
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
    color: #fff;
}

.services__description {
    color: #f8f9fa;
}

.services__card:nth-child(2) .services__title {
    color: var(--title-color);
}