.about.section {
    padding-bottom: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjusts the height to fill the viewport */
}

.about__title-container {
    margin-top: 0em;
}

.about__container {
    grid-template-columns: 1fr 9fr;
    justify-content: center;
    z-index: 1;
    padding-left: 7rem;
    padding-right: 9rem;
}

.about__img {
    justify-self: left;
}

.about__data {
    padding: 1.875rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1.875rem;
    align-items: flex-start;
    position: relative;
}

.about__data::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px soldi transparent;
    border-right: 15px solid var(--container-color);
    position: absolute;
    left: -0.93rem;
    top: 20%;
}

.about__description {
    margin-bottom: 1rem;
}

.services__title-container {
    padding-top: 7rem;
    padding-bottom: 2rem;
}

.services__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.875rem;
}

.services__card {
    text-align: center;
    padding: 1.875rem;
    border-radius: var(--border-radius);
    background-color: rgb(239,239,239);
    transition: all 0.3s ease-in-out;
}

.services__card:hover{
    transform: translateY(-10px);
    background-color: var(--first-color);
}

.services__card:hover .services__description{
    color: white;
}

.services__card:hover .services__title {
    color: var(--second-color)
}

.services__card:hover .full-stack {
    stroke: var(--second-color);
    fill: none;
}

.services__card:hover .ds-1, 
.services__card:hover .ds-2, 
.services__card:hover .ds-3, 
.services__card:hover .ds-4, 
.services__card:hover .ds-5 {
    fill: var(--second-color);
}

.services__card:hover .music-production svg path {
    fill: var(--second-color);
}

.services__card:nth-child(1) {
    box-shadow: var(--shadow);
}

.services__card:nth-child(2) {
    box-shadow: var(--shadow);
}

.services__card:nth-child(3) {
    box-shadow: var(--shadow);
}

.full-stack {
    stroke: black;
    fill: none;
}

.services__img {
    padding-left: 7rem;
    padding-right: 7rem;
    padding-bottom: 0.5rem;
}

.services__title {
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
    color: var(--title-color);
}

.services__description {
    color: var(--subtitle-color);
}
