/*==================== Google Fonts ====================*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

/*==================== Variables CSS ====================*/
:root {
  /*=============== Colors ===============*/
  /*Color mode HSL (hue, saturation, lightness)*/
  --first-color:  hsl(168,46%,35%);
  --second-color: hsl(33,100%,71%);
  --title-color: hsl(45,8%,20%);
  --subtitle-color: hsl(50,2%,48%);
  --text-color: hsl(45,8%,20%);;
  --body-color: hsl(0,5%,96%);
  --container-color: hsl(0,0%,94%);

/*=============== Font and Typography ===============*/
/* .5rem = 8px | 1rem = 16px ... */
--body-font: 'Rubik', sans-serif;
--h1-font-size: 2.25rem;
--h2-font-size: 1.5rem;
--h3-font-size: 1.25rem;
--normal-font-size: 1rem;
--small-font-size: 0.875rem;
--smaller-font-size: 0.813rem;

/*=============== Font Weight ===============*/
--font-medium: 500;
--font-semibold: 600;
--font-bold: 700;

/*=============== Box Shadow ===============*/
--shadow: 0px 5px 20px 0px rgb(209,208,207);


/*=============== Border Radius ===============*/
--border-radius: 20px; 
}

/* Responsive Typography */
@media screen and (max-width: 1024px) {
  :root {
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

  }
}

/*==================== Base ====================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  line-height: 1.7;
  color: var(--text-color)
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
  line-height: 1.2;
}

u1 {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/*==================== Reusable CSS Classes ====================*/
.container {
  max-width: 1080px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.section {
  padding-top: 7rem;
  padding-bottom: 2rem;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.section__title {
  font-size: var(--h1-font-size);
  margin-left: 0.875rem;
  font-weight: var(--font-bold);
  position: relative;
  margin-bottom: 3.75rem;
  text-align: center;
}

.section__title::before {
  content: ""; 
  background-color: url(./assets/dots-bg.svg);
  height: 2.25rem;
  width: 2.25rem;
  position: absolute;
  left: -0.875rem;
  top: -0.875rem;
}

.btn {
  padding: 0.75rem 2rem;
  line-height: 1;
  border-radius: 1.875rem;
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  border: 1px solid transparent;
  color: #fff;
  display: inline-block;
  background-color: var(--first-color);
  font-weight:  var(--font-bold); 
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;  /* Add this line */
}

.btn:hover {
  background-color: var(--second-color);
  color: var(--title-color);
  box-shadow: 0 0 10px var(--second-color);  /* Add a faint shadow */
}

/*==================== Scroll Snapping ====================*/
html {
  scroll-snap-type: y mandatory;
}